<div class="ResetPassword">
  <h1>Reset Password</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- New Password Field -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        placeholder="Insert password"
      />
      <mat-error
        *ngFor="let error of getErrors(form.get('password')!, 'Password')"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        required
        placeholder="Confirm password"
      />
      <mat-error
        *ngFor="
          let error of getErrors(
            form.get('confirmPassword')!,
            'Confirm Password'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <div class="button-group">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
      <button mat-flat-button color="secondary" [routerLink]="['/']">
        Cancel
      </button>
    </div>
  </form>
</div>
