.ResetPassword {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.ResetPassword h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.ResetPassword form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}
