<div class="forgotpassword">

    <h1>Forgot Password</h1>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
        <!-- email -->
        <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" required
                 placeholder="Insert email">
        <mat-error *ngFor="let error of getErrors(form.get('email')!,
            'Email')">
            {{error}}
        </mat-error>
        </mat-form-field>
    
        <!-- button -->
        <div>
        <button mat-flat-button color="primary"
                type="submit">
            Submit
        </button>
        <button mat-flat-button color="secondary"
                [routerLink]="['/']">
            Cancel
        </button>
        </div>
    
    </form>


</div>
