<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Welcome to the Movie Management Application</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        This application allows you to manage your movie collection, view and
        add reviews, participate in real-time chat, and more. Use the navigation
        bar to explore the features.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/movies">
        View Movies
      </button>

      <button mat-raised-button color="primary" routerLink="/login">
        Login
      </button>

      <button mat-raised-button color="accent" routerLink="/register">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
